@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* reset CSS */
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* color */
:root{
    --headerBg: #36424C;
    --textWhite: white;
    --borderColor: #D7492D;
    --grayBg: gray;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}
/* Index Page - Start */
/* header - start */
header {
    background-color: var(--headerBg);
    color: var(--textWhite);
    display: flex;
    justify-content: space-between;
    padding: 1% 12%;
    align-items: center;
    border-bottom: 4px solid var(--borderColor);
    min-height: 80px;
}

header h3 {
    font-size: 1.8rem;
    word-spacing: 8px;
}

header span {
    color: var(--borderColor);
}

header ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

header ul li {
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}

header ul li a {
    color: var(--textWhite);
}

header ul li:hover a {
    color: var(--borderColor);
}
/* header - end */

/* main - start */
main {
    color: var(--textWhite);
}

.index-main .image-container {
    padding: 1% 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    background-color: var(--grayBg);
    background-image: url("https://images.unsplash.com/photo-1593642702821-c8da6771f0c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bGFwdG9wc3xlbnwwfHwwfHw%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
 }

 .index-main h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
 }

 .index-form {
    background-color: var(--headerBg);
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
 }

 .index-form h3 {
    text-transform: capitalize;
    color: var(--textWhite);
 }

 .index-form-text {
    padding: 6px 12px;
    border-radius: 2px;
    outline: none;
    border: 1px solid var(--headerBg);
 } 

 .btn {
    padding: 6px 12px;
    outline: none;
    border-radius: 2px;
    text-transform: capitalize;
    cursor: pointer;
    background-color: var(--borderColor);
    border: 1px solid var(--borderColor);
    color: var(--textWhite);
    transition: all .6s;
 }

 .btn:hover {
    background-color: var(--textWhite);
    color: var(--borderColor);
 }

 .index-main section:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
 }

 .index-main section:last-child div {
    width: 500px;
    height: 100%;
    padding: 8px 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
 }

 .index-main section:last-child div img {
    margin: 0 auto;
    margin-bottom: 1rem;
 }

 .index-main section:last-child div p {
    color: var(--headerBg);
 }


/* main - end */

/* footer - start */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: var(--borderColor);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    color: var(--textWhite)
}

/* footer - end */
/* Index Page - End */

/* About Page - Start */
.about-form {
    min-height: 80px;
    background-color: var(--headerBg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
}

.about-form h3 {
    color: var(--textWhite);
    text-transform: capitalize;    
}

main.about-us {
    color: var(--headerBg);
    display: flex;
    gap: 2rem;
    padding: 3% 12% 0 12%;
}

.about-us section h4 {
    font-size: 1.2rem;
    line-height: 3rem;
    text-transform: capitalize;
}

.about-us section p {
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 8px;
}

.about-us section:first-child {
    width: 75%;
}

.about-us section:last-child {
    width: 25%;
    height: 200px;
    border:  1px solid var(--headerBg);
    color: var(--textWhite);
    background-color: var(--headerBg);
    padding: 0 2% 1% 2%;
    border-radius: 4px; 
}
/* About Page - End */